# Function

In [1]:
# what is the use of a function
# what are modules

In [2]:
# types 
# inbuilt Eg: print , type , del
# user defined
# lambda

In [3]:
# user defined function

In [4]:
a =  10
b = 20
print(a+b)

30

In [5]:
a =  100
b = 200
print(a+b)

300

In [6]:
# we have to write the code again for addition as abve every time

In [7]:
# we can write code that can be reused

# writing first function

In [8]:
def test(x,y):
    pass

In [9]:
#calling a function
# test()   # error is :missing 2 required positional arguments: 'x' and 'y'

In [10]:
test(10,20) # passing the arguments

In [11]:
# adding body of the function

In [12]:
def test(x,y):
    print(x+y)

In [13]:
test(10,20) # now we will get the ans

30

In [14]:
test(100,200)

300

# function that returns

In [15]:
def test1(x,y):
    return x*y

In [16]:
print(test1(10,20))

200

In [17]:
# comparing return types in test1 and test2 functions

In [18]:
print(type(test1(10,20))) # <class 'int'>

<class 'int'>

In [19]:
print(type(test(10,20)))# <class 'NoneType'>

30
<class 'NoneType'>

In [20]:
# we can store the returned value
a = test1(22,33)
print(a)

726

In [21]:
# print is not recommended as retun in functions
# as we cant use the output of that functuion for further operation

In [22]:
def test3(x,y,z):
    return x+y

In [23]:
# ans = test3(10,20) # error : missing 1 required positional argument

# we have to provide the exact number of arguments 
# as given in defination of the function

In [24]:
ans = test3(10,20,0)

In [25]:
print(ans)

30

# returning multiple valus

In [26]:
def test4(a,b):
    return a*2 ,b*2 , a+b #is this valid

In [27]:
ans = test4(10,20)

In [28]:
print(ans) #ans will be a tuple

(20, 40, 30)

In [29]:
print(type(ans)) #<class 'tuple'>

<class 'tuple'>

In [30]:
# unpacking atuple concept

x,y,z = test4(7,10)

In [31]:
print(x)
print(y)
print(z)

14
20
17

In [32]:
# when we dont want all the outputs of a function/
#  we use placeholde "_"

# if we dont want the value at z position we use "_" as placeholder
#  output will not be affected 
#  but we are not creating a new variable
x,y,_ = test4(7,10)

In [33]:
print(x)
print(y)
print(_)

14
20
17

In [34]:
_,_,_ = test4(7,10) #not recommended to use like this
# python will get confused

In [35]:
print(_)
print(_)
print(_)

17
17
17

# List as an argument of a function

In [36]:
def one(a):
    return a*2

In [37]:
ans = one([1,2,3,4,5])

In [38]:
print(ans)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [39]:
print(type(ans))

<class 'list'>

In [40]:
# we can access the items in the list "ans"
# using indexing
print(ans[0])

1

In [41]:
# returning multiple values

In [42]:
def one(a):
    return a*2 ,a

In [99]:
ans = one([1,2,3,4,5])

In [100]:
print(ans)

([1, 2, 3, 4, 5, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [101]:
x ,y = ans # accessing individual values

In [102]:
print(x)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [103]:
print(y)

[1, 2, 3, 4, 5]

# default argument values

In [45]:
def two(a,b):
    return a + b

In [46]:
ans = two(20,30)

In [47]:
print(ans)

50

In [104]:
# there is order in which arguments can be placed
# find the order ????

In [48]:
def two(a,b=30):
    return a + b

In [49]:
ans = two(30) #default value of b = 30 is used

In [50]:
print(ans)

60

In [51]:
ans = two(30,100)

In [105]:
print(ans) ##default value of b is overwritten

([1, 2, 3, 4, 5, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [107]:
def bool1(x=True,y=False):
    return x+y

In [108]:
print(bool1()) # 1 +0 = 1

1

In [114]:
print(bool1(False)) # 0 +0 = 1

0

In [111]:
# what are Doc srtrings ?

In [112]:
# PEP8 guide ??

In [115]:
def travel(bike =True, car =False):
    plan_travel = bike or car
    return bike ,car,plan_travel

In [116]:
travel()

(True, False, True)

In [117]:
# order of the variable matters while defining and calling the function

In [118]:
travel(False) #default vale of bike will be changed to False

(False, False, False)

In [119]:
travel(car = True) #default vale of car will be changed to True

(True, True, True)

In [120]:
#keyword arguments

# NUMBER OF VARIABLES NOT KNOWN

In [ ]:
#*args returns tuple

In [125]:
def test1(*args): #to pass multiple arguments
    return args

In [143]:
a = test1(11,22,33,False, [77,88,99], True)
print(a)

(11, 22, 33, False, [77, 88, 99], True)

In [129]:
# practice is to use *args
# but we can use any other variable also

def test2(*p): #to pass multiple arguments
    return p

In [144]:
z = test2(11,22,33, True)
print(z)

(11, 22, 33, True)

In [145]:
# fun to concatenate variable number of list/arg
def concat(*args):
    ans =[]
    for i in args:
        ans.append(i)
    return ans
        
c = concat(22,33,44,"RAHUL")
print(c)

[22, 33, 44, 'RAHUL']

In [140]:
# fun to concatenate variable number of list/arg
def concat(*args):
    ans =[]
    for i in args:
        if type(i) == list:
            ans = ans + i #only work for list
    return ans

In [146]:
z = concat([22,33,44,"RAHUL"],[22,33,44,"RAHUL"])
print(z)

[[22, 33, 44, 'RAHUL'], [22, 33, 44, 'RAHUL']]

In [156]:
#  *kwargs key=value pair as arguments
# used in dict craetion ???

In [157]:
def one(**kwargs):
    return kwargs

In [158]:
p = one(a=1,b=2,c=3)
print(p) #returns in a dict format

{'a': 1, 'b': 2, 'c': 3}

In [170]:
def test(**kwargs):
    print("Good")
    print(kwargs.items())

In [171]:
test(Institute = "Minskole" , location = "Pune" , Pin =  400001)

Good
dict_items([('Institute', 'Minskole'), ('location', 'Pune'), ('Pin', 400001)])

# Lambda Function

In [172]:
# nameless
# anonymous function

In [178]:
def student(name,domain):
    concate = name+domain
    return name, domain , concate

In [179]:

student("Rahul","@gmail.com")

('Rahul', '@gmail.com', 'Rahul@gmail.com')

In [189]:
a = 50
b = 150
def test(x,y):
    return x+y

In [190]:
test(a,b)

200

In [191]:
m = lambda x,y : x+y

In [192]:
print(m(a,b))

200

In [193]:
# eg:


z = lambda x,y : print(x+y)

In [196]:
z(100,9)

109

# SCOPE A VARIABLE

In [ ]:
# SCOPE A VARIABLE
# local
# global

In [199]:
r = "Sunday"
def func1(a,b):
    r = a + b
    print(r)

In [201]:
func1(10,20)

30

# Doc string

In [202]:
def func2():
    '''
    This is a Palind
    '''
    print("This is a Palind")

In [204]:
#help
help(func2)

Help on function func2 in module __main__:

func2()
    This is a Palind

In [206]:
# dir(func2)  ?????

In [203]:
print(func2.__doc__)

    This is a Palind

# ITERATOR AND GENERATOR

In [208]:
# a = 10
# for i in a:
#     print(i) #'int' object is not iterable